{% extends "base.html" %}

{% block main %}

{% if user.is_staff %}
<p>Welcome, {{ user }}.</p>
{% else %}
<p>Welcome, {{ user.customer.full_name }}.</p>
{% endif %}

<h3>Account Details</h3>

<table>
    <tr>
        <th>Account Number</th>
        <th>Account Name</th>
        <th>Balance</th>
    </tr>
    <tr>
        <td>{{ account.pk }}</td>
        <td>{{ account.name }}</td>
        <td class="amount">{{ account.balance|floatformat:"2" }}</td>
    </tr>
</table>

<h3>Account Transactions</h3>

<table>
    <tr>
        <th>Transaction UID</th>
        <th>Amount</th>
        <th>Date and Time</th>
        <th>Text</th>
    </tr>
    {% for movement in account.movements %}
    <tr>
        <td><a href="{% url 'bank:transaction_details' movement.transaction %}">{{ movement.transaction }}</a></td>
        <td>{{ movement.amount|floatformat:"2" }}</td>
        <td>{{ movement.timestamp }}</td>
        <td>{{ movement.text }}</td>
    </tr>

    {% endfor %}
</table>

<div id="movements_container"></div>

<script>
      Highcharts.chart('movements_container', {
              chart: {type: 'column'},
              title: {text: "{{account.name}} Income/Outcome"},
              plotOptions: {column: {stacking: 'normal', dataLabels: {enabled: true}}},
              tooltip: {pointFormat: "Current balance: {{account.balance}} DKK"},
              yAxis: {title: {text: "Movements"}},
              xAxis: {title: {text: "Income/Outcome"}, type: "datetime"},
              credits: {enabled: false},
              series: [
                      {name: "Balance",
                       data: [{{account.balance|floatformat}}],
                       stack: "balance"},
                      {% for movement in account.movements %}
                      {name: "{{account.name}}",
                       id: "account",
                       data: [{{movement.amount|floatformat}},],
                       stack: "expenses",
                       tooltip: {pointFormat: "Date: {{movement.timestamp}}</br>Transaction: {{movement.text}} </br> Amount: {{movement.amount}}"}},
                      {% endfor %}
                      ],
    });
</script>

{% endblock main %}
