<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'holiday.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}" media="screen" />
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <title>KEA Bank</title>
</head>
<body>

    {% load l10n %}

    <header>
        <h1>KEA Bank</h1>
        {% if user.is_staff %}
        <h2>Bank Staff Portal</h2>
        {% else %}
        <h2>Bank Customer Portal</h2>
        {% endif %}
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'bank:index' %}">Home</a></li>
            <li>
                <span>Menu</span>
                <ul>
                    {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Log out</a></li>
                    <li><a href="{% url 'password_change' %}">Password change</a></li>
                </ul>
            </li>
            {% if user.is_staff %}
            <li><a href="{% url 'bank:staff_new_customer' %}">New Customer</a></li>
            {% else %}
            <li><a href="{% url 'bank:make_transfer' %}">Make Transfer</a></li>
            <li><a href="{% url 'bank:make_loan' %}">Make Loan</a></li>
            {% endif %}
        </ul>
    </nav>

    <main>
    {% block main %}
    {% endblock main %}
    </main>

    <footer>
        <p>&copy; 2021 Fat Cats Corp.</p>
    </footer>
    <script src="https://unpkg.com/htmx.org@1.5.0" integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI" crossorigin="anonymous"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>
</html>
